<a href="https://colab.research.google.com/github/diasgsputra/dumbways/blob/master/CurahHujanTes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import logging
logging.getLogger('googleapiclient.discovery_cache').setLevel(logging.ERROR)

In [ ]:
file_list = drive.ListFile({'q': "'1usOGKGAxmcPq3rPexX35-OynhOv7VU3w' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: loghujan_full.csv, id: 1trZm8JV4g_epU__exxs7j7T3zwQ0LVJm
title: loghujan.csv, id: 1-StjuziDQzJFsjKT_ad3y2e9l2MX-Dip

In [ ]:
data_downloaded = drive.CreateFile({'id': '1trZm8JV4g_epU__exxs7j7T3zwQ0LVJm'})
data_downloaded.GetContentFile('loghujan_full.csv')

In [ ]:
data = pd.read_csv('loghujan_full.csv',low_memory=False, lineterminator='\n')

In [ ]:
data = data[data['ch'].notna()]

In [ ]:
data = data[data.id_alat != "CH003"]

In [ ]:
data.isnull().sum()

id         0
id_alat    0
waktu      0
t          0
h          0
aero       0
speed      0
ldr        0
hujan      0
ch         0
note       0
reset      0
dtype: int64

In [ ]:
df = data
df.isnull().sum()

id         0
id_alat    0
waktu      0
t          0
h          0
aero       0
speed      0
ldr        0
hujan      0
ch         0
note       0
reset      0
dtype: int64

In [ ]:
data

                id id_alat                waktu     t  ...  hujan     ch  note  reset
0             1501    C001  2020-12-23 09:28:13  33.0  ...  876.0    0.0    ok      1
1             1502    C001  2020-12-23 09:28:14  33.0  ...  875.0    0.0    ok      1
2             1503    C001  2020-12-23 09:28:16  33.0  ...  876.0    0.0    ok      1
3             1504    C001  2020-12-23 09:28:17  33.0  ...  875.0    0.0    ok      1
4             1505    C001  2020-12-23 09:28:19  33.0  ...  876.0    0.0    ok      1
...            ...     ...                  ...   ...  ...    ...    ...   ...    ...
13922088  15853116    C001  2021-06-02 03:37:59  24.0  ...  862.0  255.0    ok      1
13922089  15853117    C001  2021-06-02 03:38:01  24.0  ...  862.0  255.0    ok      1
13922090  15853118    C001  2021-06-02 03:38:02  24.0  ...  862.0  255.0    ok      1
13922091  15853119    C001  2021-06-02 03:38:03  24.0  ...  862.0  255.0    ok      1
13922092  15853120    C001  2021-06-02 03:38:04  24.0  ...  862.0  255.0    ok      1

[8478295 rows x 12 columns]

In [ ]:
data.loc[data['waktu'].between('2020-12-31 23:59:55','2021-01-01 00:00:05', inclusive=False)]

            id id_alat                waktu     t  ...  hujan    ch  note  reset
670579  672080    C001  2020-12-31 23:59:56  23.0  ...  861.0  35.0    ok      1
670581  672082    C001  2020-12-31 23:59:58  23.0  ...  861.0  35.0    ok      1
670583  672084    C001  2020-12-31 23:59:59  23.0  ...  862.0  35.0    ok      1
670585  672086    C001  2021-01-01 00:00:00  23.0  ...  861.0  35.0    ok      1
670587  672088    C001  2021-01-01 00:00:03  23.0  ...  861.0  35.0    ok      1

[5 rows x 12 columns]

In [ ]:
data[data.id_alat == "C001"]

                id id_alat                waktu     t  ...  hujan     ch  note  reset
0             1501    C001  2020-12-23 09:28:13  33.0  ...  876.0    0.0    ok      1
1             1502    C001  2020-12-23 09:28:14  33.0  ...  875.0    0.0    ok      1
2             1503    C001  2020-12-23 09:28:16  33.0  ...  876.0    0.0    ok      1
3             1504    C001  2020-12-23 09:28:17  33.0  ...  875.0    0.0    ok      1
4             1505    C001  2020-12-23 09:28:19  33.0  ...  876.0    0.0    ok      1
...            ...     ...                  ...   ...  ...    ...    ...   ...    ...
13922088  15853116    C001  2021-06-02 03:37:59  24.0  ...  862.0  255.0    ok      1
13922089  15853117    C001  2021-06-02 03:38:01  24.0  ...  862.0  255.0    ok      1
13922090  15853118    C001  2021-06-02 03:38:02  24.0  ...  862.0  255.0    ok      1
13922091  15853119    C001  2021-06-02 03:38:03  24.0  ...  862.0  255.0    ok      1
13922092  15853120    C001  2021-06-02 03:38:04  24.0  ...  862.0  255.0    ok      1

[3364488 rows x 12 columns]

In [ ]:
data[data.id_alat == "C002"]

                id id_alat                waktu    t  ...  hujan   ch  note  reset
2444923    2446424    C002  2021-02-20 21:55:47  0.0  ...  182.0  0.0     0      1
2444925    2446426    C002  2021-02-20 21:55:51  0.0  ...  180.0  0.0     0      1
2444927    2446428    C002  2021-02-20 21:55:53  0.0  ...  183.0  0.0     0      1
2444929    2446430    C002  2021-02-20 21:55:56  0.0  ...  181.0  0.0     0      1
2444931    2446432    C002  2021-02-20 21:55:58  0.0  ...  178.0  0.0     0      1
...            ...     ...                  ...  ...  ...    ...  ...   ...    ...
13872746  14746461    C002  2021-05-26 08:30:25  0.0  ...  374.0  0.0     0      1
13872749  14746464    C002  2021-05-26 08:30:26  0.0  ...  375.0  0.0     0      1
13872752  14746467    C002  2021-05-26 08:30:29  0.0  ...  375.0  0.0     0      1
13872758  14746473    C002  2021-05-26 08:30:34  0.0  ...  375.0  0.0     0      1
13872762  14746477    C002  2021-05-26 08:30:36  0.0  ...  377.0  0.0     0      1

[5113807 rows x 12 columns]

In [ ]:
# df = df.replace({'note': {'ok': 1}})
# df

In [ ]:
import tensorflow as tf

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import keras
from keras.layers import Dense
from keras.models import Sequential

In [ ]:
X=df[['t', 'h', 'aero', 'speed', 'ldr']]
y=df[['ch']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2, random_state=41)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# xtrain = scaler.fit_transform(xtrain)
# xtest = scaler.transform(xtest)

In [ ]:
# ann  = Sequential()
# ann.add(Dense(units= 64, activation = 'relu', input_dim=5))
# ann.add(Dense(units= 16, activation = 'relu'))
# ann.add(Dense(units= 1, activation = 'sigmoid'))
# ann.compile(optimizer='adam',
#               loss='mean_squared_error',
#               metrics=['accuracy'])

In [ ]:
# model = keras.Sequential([
#     keras.layers.Flatten(input_shape=(28, 28)),  # input layer (1)
#     keras.layers.Dense(128, activation='relu'),  # hidden layer (2)
#     keras.layers.Dense(10, activation='softmax') # output layer (3)
# ])

In [ ]:
# model.compile(optimizer='adam',
#               loss='sparse_categorical_crossentropy',
#               metrics=['accuracy'])

In [ ]:
# ann.fit(xtrain,ytrain, batch_size=10, epochs=1,verbose= 1)
# model.fit(xtrain, ytrain, epochs=10)  # we pass the data, labels and epochs and watch the magic!